:root {
    --color7e6: #0097e6;
}
.flex {
    display: flex;
}
.flex-ac {
    display: flex;
    align-items: center;
}
.flex-jc {
    display: flex;
    justify-content: center;
}
.font18 { font-size: clamp(18px, 0.2rem, 20px); line-height: 1.3; }
.font36 { font-size: clamp(36px, 0.4rem, 40px); line-height: 1.3; }
.spac10 { letter-spacing: 0.1rem; }
.spac3 { letter-spacing: 0.03rem; }

.paddT44 { padding-top: 0.44rem; }
.paddB24 { padding-bottom: 0.24rem; }
.paddB36 { padding-bottom: 0.36rem; }

.marginT10 { margin-top: 0.1rem; }

.hidden { overflow: hidden; }
.rel { position: relative; }
.h44 { height: 0.44rem; line-height: 0.44rem; }
.line-clamp-4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}
/* 标题 */
.th3 { position: relative;white-space: nowrap; }
.th3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.04rem;
    border-radius: 0.08rem;
    background-image: linear-gradient(to right, #0097e6, rgba(0,0,0,0));
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #FFF;
    transition: all .3s;
}
.header .nav {
    margin: 0 auto;
}
.logoImg1 { display: block; }
.logoImg2 { display: none; }
.logo>a>img {
    /* height: 0.18rem; */
    height: clamp(18px,18px,0.18rem);
}
.nav .nava {
    display: block;
    line-height: clamp(44px,0.44rem,44px);
    padding: 0 0.2rem;
    font-size: clamp(14px, 0.14rem, 14px);
    white-space: nowrap;
}
.header:hover { background: #FFF; color: #333; }
.header:hover .logoImg1 { display: none; }
.header:hover .logoImg2 { display: block; }
.nava.cur { color: var(--color7e6); font-weight: 700; }
.childList {
    display: none;
    position: absolute;
    top: 0.44rem;
    left: 0;
    width: 100%;
    background: #fff;
}

.bannerImg>img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.indexA {
    background: rgba(255,255,255,1);
}
.indexAbg {
    padding: 0.8rem 0 0 0;
    background: rgba(245, 245, 245, 1);
}
.indexA-box {
    margin-left: auto;
}
.font-text > p {
    white-space: nowrap;
}
/* .textImg { width: 8.43rem; } */
.mstxt {
    letter-spacing: 0.03rem;
    font-weight: normal;
    color: rgb(16, 16, 16);
    font-size: 0.18rem;
}
.index-flex3 {
    display: flex;
    gap: 0.1rem;
}
.index-flex3>div {
    flex: 1;
}
.index-flex3 .item {
    background: rgba(245, 245, 245, 1);
    padding: 0.24rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.2rem;
} 
.index-flex3 .item>.textImg>img { height: 3.53rem; }

.indexB {
    width: 100%;
    height: auto;
    background: url(../image/p7.BNiw7Chf.png) no-repeat;
    background-size: cover;
}
.indexB-box {
    padding: 1.2rem 0;
}
.indexB-a {
    padding: 0.64rem 0.96rem;
    border-radius: clamp(0.1rem,0.18rem,0.24rem);
    background-color: #FFF;
}
.indexB-bt { display: inline-block; margin-bottom: 0.96rem; }
.indexB-list { display: flex; flex-direction: column; row-gap: 0.35rem; }
.indexB-list .indexB-items { display: flex; gap: 0.24rem; }
.indexB-list .indexB-items .img { flex: 0.8; }
.indexB-list .indexB-items .text { 
    flex: 1.2; 
    margin-left: auto; 
    font-size: 0.18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #101010;
    font-weight: 500;
}
.indexB-list .indexB-items .text>h3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: 600;
}
.time { color: var(--color7e6); }

/* 返回顶部 */
.back {
    padding: 0.32rem 0;
}
.back .topImg {
    width: 0.33rem;
}
#aTop { cursor: pointer; }
/* 返回顶部 */
.footer {
    background: rgba(242,242,242,1);
}
.footer .footer-box {
    padding: 1.12rem 0;
    border-bottom: 1px solid #e5e7eb;
}

.footer .ft-left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}
.footer .ft-left .logo>a>img { height: 0.19rem; }
.footer .ft-left .companyName>img { width: 1.89rem; height: 0.24rem; margin-top: 0.56rem; }
.footer .ft-left .info { padding-top: 0.2rem; font-size: 0.12rem; color: rgba(0, 0, 0, 0.65); }
.footer .ft-left .info > p { line-height: 2; }
.footer .ft-right {
    flex: 1.2;
    display: flex;
    gap: clamp(0.32rem,0.4rem,0.64rem);
}
.footer>.container>.footer-box{
    padding: 0.32rem 0 0.8rem 0;
    display: flex;
    justify-content: space-between;
    font-size: 0.12rem;
    color: #727171;
}
.footer .sx { display: inline-block; font-size: 0.12rem; transform: translateY(-0.01rem); margin: 0 0.12rem;}
.footer .fb2-right ul { gap: 0.24rem; }
.footer .fb2-right ul li img { height: 0.22rem; cursor: pointer; }
.footer .ft-right dl {  color: rgba(0, 0, 0, 0.65); font-size: 0.14rem; }
.footer .ft-right dl>dt { padding-bottom: 0.2rem; font-weight: 700; border-bottom: 1px solid rgb(229, 231, 235); margin-bottom: 0.2rem; }
.footer .ft-right dl>dd { margin-bottom: 0.1rem;}
.footer .ft-right dl>dd>a { font-weight: 400; }
.imgShowBlock { 
    opacity: 0;
    position: absolute;
    bottom: 0.45rem;
    left: 25%;
    transform: translateX(-50%); 
    width: 1.25rem; 
    height: 1.25rem;
    background: #FFF; 
    box-shadow: 0px 2px 10px 2px rgb(199 199 199);
    overflow: hidden;
    transition: all .8s;
}
.imgShowBlock>img { height: 100% !important; }
@media (max-width: 750px) {
    .paddingLR02 { padding: 0 0.2rem; }
    .logoImg1 { display: none; }
    .logoImg2 { display: block; }
    .nav { display: none; }
    .header { background: rgb(3,6,32) !important; }
    .header:hover { background: none; }
    .header .flex { justify-content: space-between; }
    .logo { height: auto; line-height: 0.48rem; }

    .navBtn {
        width: 0.32rem;
        height: 0.48rem;
        padding: 0.1rem 0;
    }
    .navBtn .line {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background: #FFF;
    }
    .navBtn .line1 { top: 0; }
    .navBtn .line2 { top: 0.1rem; }
    .navBtn .line3 { top: 0.2rem; }

    .indexA .indexA-box {
        flex-direction: column;
        margin: 0 auto;
    }
    .font-text p { font-size: 0.14rem; }
    .textImg { width: 3rem;  order: -1;  }
    .index-flex3 .item>.textImg>img { height: auto; }
    .hidden { display: none; }
    .indexAbg { background: none; padding-top: 0.4rem; }
    .m-indexA-box { padding: 0.4rem 0; background: rgba(245, 245, 245, 1); box-sizing: border-box; overflow: hidden; }
    .mstxt {
        letter-spacing: normal;
        font-size: 0.14rem;
    }
    .index-flex3 { flex-direction: column; }
    .indexB>.container { padding: 0; }
    .indexB-list .indexB-items { flex-direction: column-reverse; }
    .indexB-a { padding: 0.24rem 0.2rem; }
    .indexB-bt { margin-bottom: 0.48rem; }
    .indexB-box { padding: 0.4rem 0; }
    .indexB-bt .th3 { font-size: 0.2rem; letter-spacing: .1em; font-weight: 400; }
    .indexB-list .indexB-items .text { row-gap: 0.18rem; font-size: 0.16rem; }
    .ft-right,.sx{display: none !important;}
    .footer .footer-box { padding: 0.44rem 0; }
    .footer .ft-left { flex: 1; }
    .footer .ft-left .info { border-top: 1px solid #e5e7eb; font-size: 0.14rem; }
    .footer .ft-left .companyName>img { margin-top: 0; }
    .footer .fb2-left { font-size: 0.14rem; display: flex; flex-direction: column; }
    .footer .footer-box { flex-direction: column; }
    .footer .fb2-right { order: -1; margin-bottom: 0.24rem; }
    .footer .fb2-right>.flex { justify-content: center; }
    .footer .companyName { margin: 0.4rem 0; }
}
